/* NAVBAR GERAL */
.navbar {
   padding: 10px;
   height: 100%;
   width: 100%;
   background: linear-gradient(to right, RED, ORANGE, YELLOW, GREEN);
   display: flex;
   justify-content: space-between;
   position: fixed;
   top: 0%;
   width: 100%;
   height: 64px;
   display: flex;
   justify-content: space-between;
}

.navbar div {
   height: 100%;
   padding: 10px;
   display: flex;
   justify-content: center;
   align-items: center;

}

.navbar img {
   height: 50px;
}

.navbar h1 {
   color: white;
}



/* SELECAO DE PRODUTO */
.variavel {
   padding: 5px;
}

.section-selecao {

   margin-top: 70px;
   padding: 20px;

}

.type-massa {
   padding:5px;
}

.section-selecao div div {
   height: 50px;
   margin: solid, red, 2px;

}

.variavel {
   background: linear-gradient(to right, green, yellow);
   margin: 5px;
   color: white;
   font-size: 20pt;
   border-radius: 10px;

}

.typeP {
   padding: 20px;
}

.type {
   font-size: 20pt;
   display: flex;
   justify-content: space-between;
   padding: 10px;
   border-radius: 5px;
}

.type input {
   height: 32px;
   width: 32px;
   background: url(../img/plus-symbol-in-a-rounded-black-square.png) no-repeat right top;

}

/* MENU */
#menu {
   display: none;
   position: absolute;
   height: 100%;
   width: 100%;

}

#menu .abaMenu {
   width: 80%;
   height: 100%;
   background-color: white;

}

#menu .foraMenu {
   width: 20%;
   height: 100%;
   background-color: black;
   opacity: 0.4;

}